* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Primary text*/
  --Very-dark-grey: hsl(0, 0%, 17%);
  --Dark-grey: hsl(0, 0%, 59%);
}
body,
html {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  background-color: var(--Dark-blue);
  min-height: 100vh;
}
